/*Had to look up how to add spacing for footer and header so that the bg image can be seen*/
body{
    font-family: Arial, Helvetica, sans-serif;
    /*Tried using background shortcut but it broke my image*/
    background-image: url("Cherry.jpg");
    background-position: right top -80px;
    background-repeat: no-repeat;
    background-color: black;
    color: whitesmoke;
    padding-top: 80px;
}
header{
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    background: url("Rocks.jpg") repeat;
    color: whitesmoke;
}
/*main{
    color: whitesmoke;
}*/
footer{
    text-align: center;
    font-size: small;
    padding-top: -80px;
    margin: 0;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    background: url("Rocks.jpg") repeat;
    color: whitesmoke;
}
nav{
    color: whitesmoke;
}
.current{
    color: magenta;
}
.unordered{
    list-style-image: url("snowballBullet.png");
}
/*For pictures, 400px to 800px*/
/*For background use a width of 800*/