body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("david-brooke-martin-lFTtQqVfx6g-unsplash.jpg");
    color: whitesmoke;
}
nav{
    color: green;
}
.current{
    color: magenta;
}
.unordered{
    list-style-image: url("snowballBullet.png");
}
/*For pictures, 400px to 800px*/