h1{
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
    font-size: larger;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
    font-size: larger; 
}
p {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
#description_p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkolivegreen;
    font-size: small;
}
ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 20px;
}
/*Set a new default font, font color, and font size for the full page*/
/*For colors choose one to grab attention, deflect attention, and background color*/
.separator-color{
    background-color:rgba(247, 220, 112, 0.683);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:cornsilk ;
    font-size: large;
}
main{
    background-color:rgb(255, 233, 162);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
nav{
    background-color: rgb(164, 231, 209);
}
/*Emphasize with color contrast and de-emphasize with color*/
/*At least 1 ID, 1 class, and 1 span tag*/
span{
    color: darkslategrey;
    background-color: white;
}
