h1{
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
    font-size: larger;
}
p {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: mediumorchid;
}