/*Using the tag name*/
h1{
    color: purple;
}
p{
    color: blue;
}
/*For tag descendants*/
header h1{
    color:cadetblue;
}
/*For classes*/
ul.ul2{
    color: darkgreen;
}
.bigger{
    font-size: 15pt;
    font-weight: bold;
}
.orange{
    color: orangered;
}
/*Using IDs*/
#maintitle{
    color:darkcyan;
}